<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Apply for meeting</title>
  <meta name="description" content="Template for form submission">
  <meta name="author" content="RuntimeTerrors">

  <link rel="stylesheet" href="form.css">

</head>

<body>
    <h1>Meeting Title: TA Office Hours</h1>
    <h2>Meeting Time: 6:00 PM</h2>
    <h2>Meeting Day: 12/1/2020</h2>
    <h2>Meeting Members:</h2>
        <h3>Bisson</h3> 
        <h3>Olenka Soko</h3>
    <h2>Group Attending</h2>
        <h3>RuntimeTerrors</h3>
    <h2>Remainning Spots 1/5</h2>
    <button class="leftmostButton">Apply To Join</button>
    <button>Return to HomePage</button>

</body>
</html>