<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Apply for meeting</title>
  <meta name="description" content="Template for form submission">
  <meta name="author" content="RuntimeTerrors">

  <link rel="stylesheet" href="form.css">

<style>
header{
	text-align: center;
	background-color: #C0392B ;
}


h1{
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
}
h2{
    padding-left: 20%;
}
h3{
    padding-left: 25%;
}
body{
	background-color: #F5B7B1;
}
.leftmostButton{
    margin-left: 25%;
    size: 150%;
}
</style>

</head>

<body>
    <h1>Meeting Title: TA Office Hours</h1>
    <h2>Meeting Time: 6:00 PM</h2>
    <h2>Meeting Day: 12/1/2020</h2>
    <h2>Meeting Members:</h2>
        <h3>Bisson</h3> 
        <h3>Olenka Soko</h3>
    <h2>Group Attending</h2>
        <h3>RuntimeTerrors</h3>
    <h2>Remainning Spots 1/5</h2>
    <button class="leftmostButton">Apply To Join</button>
    <button><a href="/">Return to HomePage</a></button>

</body>
</html>