<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Runtime Terrors</title>
  <meta name="description" content="The homepage landing for the project">
  <meta name="author" content="Runtime Terrors">

  <link rel="stylesheet" href="homepage.css">

</head>

<header>
	<h1 class="page-header">
		RTCalendar
	</h1>	
</header>

<body>
	<table class="calendar">
		<tr class="month"><th>December</th></tr>
		<tr><th class="week">Week of 11/29/2020 </th></tr>
		<tr class="calendarRow daysOfTheWeek">
			<th></th>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
		<tr class="calendarRow evenRow">
			<td class="time ">8:00 AM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow oddRow">
			<td class="time">9:00 AM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow evenRow">
			<td class="time">10:00 AM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow oddRow">
			<td class="time">11:00 AM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow evenRow">
			<td class="time">12:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow oddRow">
			<td class="time">1:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow evenRow">
			<td class="time">2:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow oddRow">
			<td class="time">3:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow evenRow">
			<td class="time">4:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow oddRow">
			<td class="time">5:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow evenRow">
			<td class="time">6:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow oddRow">
			<td class="time">7:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow evenRow">
			<td class="time">8:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
		<tr class="calendarRow oddRow">
			<td class="time">9:00 PM</td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
			<td class="timeSlot"></td>
		</tr>
	</table>
</body>
</html>